
table {
  padding-left: 20px;
  width: 100%;
}

.info-card {
  margin: 20px;
}

.info-label {
  width: 150px;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

.info-value {
  width: 300px;
  padding: 5px;
}

.node {
  color: white;
}

p {
  padding-left: 20px;
}

button {
  margin: 8px !important;
}
