
table {
  width: 100%;
}

.team-card {
  margin: 20px;
}

.members-card {
  margin: 20px;
}

.field {
  display: block;
  width: 300px;
}

button {
  margin-top: 8px !important;
  margin-left: 8px !important;
}

.image {
  font-size: 12px;
  padding-top: 4px;
  color: darkgray;
}

.right-area {
  width: 68%;
}

.actions-card {
  margin: 20px;
  width: 100%;
}
