<div class="flex-row">
  <mat-card *ngIf="stream" class="stream-card">
    <mat-card-header>
      <p *ngIf="stream.emoji" mat-card-avatar class="emoji">{{stream.emoji}}</p>
      <img *ngIf="!stream.emoji" mat-card-avatar src="{{getIcon(stream)}}">
      <mat-card-title>{{stream.name}}</mat-card-title>
      <mat-card-subtitle>{{stream._id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mat-typography">
      <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input matInput name="name" [(ngModel)]="stream.name" placeholder="Name">
      </mat-form-field>
      <div *ngIf="hasAdmin()">
        <mat-checkbox class="field" [(ngModel)]="streamflags.shareWithNewUsers" (ngModelChange)="streamChange()">Allow stream to be shared with new users</mat-checkbox>
        <p>Bits: {{streamflags.bits()}}</p>
        <button mat-raised-button (click)="setStreamBits();">SET STREAM BITS</button>
      </div>
      <p>Modified: {{stream.modifyDate | date:'medium'}}</p>
      <p *ngIf="stream.upstream">The stream is from the upstream server.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editEmoji();">EDIT EMOJI</button>
      <button mat-raised-button (click)="save();">SAVE</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="stream" class="right-area">
    <app-security [obj]="'streams'" [exec]="true" [policy]="stream.policy"></app-security>
    <mat-card class="actions-card">
      <mat-card-header>
        <mat-card-title>Actions</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button *ngIf="hasAdmin() && purgeCount > 0" class="purge-button" mat-raised-button (click)="purge();">PURGE {{purgeCount}} IDEAS</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
