<div *ngIf="showSep" class="date-line flex-row">
  <div class="divider flex-spacer" [style.background-color]="dateDividerColor()"></div>
  <div class="flex-fixed" [style.background-color]="parent.streamBgColor()" [style.color]="dateDividerColor()">{{idea.modifyDate | date: 'fullDate' }}</div>
  <div class="divider flex-spacer" [style.background-color]="dateDividerColor()"></div>
</div>
<div class="flex-row">
  <div class="flex-spacer"></div>
  <div class="flex-fixed-left flex-column">
    <div class="mat-typography idea flex-spacer" [ngClass]="{ 'pad-name-menu': padTop(), 'pad-no-name-menu': !padTop() }"
      [style.width]="width" [style.background-color]="bgColor(isMe())">
      <div class="mat-typography user">
        <span class="user-name">{{userName}}</span>
      </div>
      <div class="status">{{status}}</div>
      <div class="flex-row" [ngClass]="{ 'nameline': padTop() }" [style.background-color]="itemBGColor(isMe())">
        <img *ngIf="icon" class="icon" src="{{getIcon()}}">
        <div [ngClass]="{ 'text': icon == null, 'icon-text': icon != null }"
          class="flex-spacer" [style.fontWeight]="isMessage() ? 400 : 500" [style.color]="itemTextColor()">
            <span [innerHTML]="text()"></span>
        </div>
      </div>
      <div class="error">{{error}}</div>
      <div class="menu" *ngIf="idea && idea._id != null">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteIdea(idea);">DELETE</button>
        </mat-menu>
      </div>
    </div>
    <div class="date flex-fixed-left" [style.color]="dateColor()" [style.display]="dateDisplay()">{{idea.modifyDate | justNow }}</div>
  </div>
  <div class="flex-spacer"></div>
</div>
